<div class="container-fluid">
<div class="p-3">
    <a class="btn btn-info" href="/employe/embaucher">Embaucher</a>
</div>
<table class="table table-striped" >
    <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Fonction</th>
            <th>Position</th>
            <th>Experience</th>
            <th>Salaire</th>
        </tr>
    </thead>
    <tbody>
        <% for (let e of employes){%>
            <tr>
                <td><a href="/employe/<%=e.id%>/supprimer" class="btn btn-danger"><span class="fa fa-trash"></span></a></td>
                <td><%=e.id %></td>
                <td><%=e.nom %></td>
                <td><%=e.prenom %></td>
                <td><%=e.fonction %></td>
                <td>Rang <%=e.position %></td>
                <td><%=e.experience %> ans</td>
                <td><%=e.salaireBase %> €</td>
            </tr>
        <%}%>
    </tbody>

</table>
</div>
